html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 10vmin;
  background: #000;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

Horizon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 30%;
  background-size: cover;
  box-shadow:
    0 1px 30px 25px #000,
    inset 0 -25px 150px 25px #000;
  animation:
    change-dream 30s infinite;
    animation-timing-function: ease;
}

Road {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow:
     0 0 0 5px #000,
     0 0 10px 5px hotpink;
  background-size: cover;
  background-image: url(https://i.ytimg.com/vi/w8ndrYXBXT4/maxresdefault.jpg);
  animation: radiate 30s infinite;
}

@keyframes move-forward {
  from {
    transform:
      rotateX(25deg)
      scale(50, 50)
      translateX(-55%)
  }

  to {
    transform:
      rotateX(25deg)
      scale(50, 50)
      translateX(-55%)
      rotate(22.5deg)
  }
}

@keyframes radiate {
  from, to {
    box-shadow:
      0 0 0 5px #000,
      0 0 10px 5px hotpink;
  }

  /* 20% {
    box-shadow:
      0 0 0 5px #000,
      0 0 10px 5px crimson;
  }

  40% {
    box-shadow:
      0 0 0 5px #000,
      0 0 10px 5px gold;
  }

  60% {
    box-shadow:
      0 0 0 5px #000,
      0 0 10px 5px mediumspringgreen;
  }

  80% {
    box-shadow:
      0 0 0 5px #000,
      0 0 10px 5px cyan;
  } */
}

@keyframes change-dream {
  from, 0%, to {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center 60%;
  }

  /* 20%, 37% {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center 60%;
  }

  40%, 57% {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center center;
  }

  60%, 77% {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center 10%;
  } */

  50% {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center 25%;
  }

  100% {
    background-image: url(https://78.media.tumblr.com/844c52f11b929b78b7512fd6ec90335a/tumblr_oy13gs1fDi1vq64mxo3_1280.gif);
    background-position: center 60%;
  }
}
